.mailing {
    margin: auto;
    margin-top: 5vh;
    width: 40vw;
    min-width: 15.625rem;
    max-width: 25rem;

    &_label {
        font-family: $labelFont;
    }

    &_form {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &-input {
            padding: .1875rem;
            width: 79%;
        }

        &-submit {
            // width: 20%;
            // min-width: 4.6rem;
            background-color: $brown;
            color: $orangeLite;
            font-family: $labelFont;
            font-weight: 600;
            font-size: 1.05rem;
            border-radius: .3125rem;
            padding: .3125rem .625rem;
        }
    }
}